.navbar{
    height: 70px;
    background: #ff7b81;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-family: Montserrat;
}

.logo{
    font-weight: 500;
    color: black;
    font-weight: bold;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: #003500;
    border-radius: 5px;
}